<%- include("header") -%>
<!-- <h1 id="about">Tired of memorizing things you have to do in a day?</h1>
<p>Dont worry I have the perfect solution for you. A To Do List which you can open anytime anywhere!</p>
<p>Just add new tasks you want to do in a day by clicking the '+' button and you can also cut them by clicking on the checkbox once you are done with a particular task.
</p>
  <p>
    Also you can make a seperate list related to your job or any list in which you can add tasks related to the work you have to do or any grocery you need to buy.
    For that you just have to type the list title in the url after a / . For eg currenturl/Shopping will generate a shopping list.


    </p>
<!-- <h1>This is about page</h1> -->
<!-- <form  action="/" method="post">
  <center>

    <button class="workButton center" type="submit" onclick="pageRedirect1()">Go to To do list</button>
    </center>
</form>  -->


<h1 class="heading">Tired of memorizing things you have to do in a day?</h1>
<p>Dont worry I have the perfect solution for you. A To Do List which you can open anytime anywhere!</p>
<p>Just add new tasks you want to do in a day by clicking the '+' button and you can also delete them by clicking on the checkbox once you are done with a particular task.
</p>
  <p>
    Also you can make seperate lists related to different areas like, shopping, school, work and many more by just adding /[List Heading] (Eg: add /shopping after the link for making a todolist related to shopping).
    </p>


<button class="workButton" type="button" onclick="pageRedirect1()">My To Do List</button>

<%- include("footer") -%>
